*{
  padding: 0px;
  margin: 0px;
}

.header {
  background-image:url('../img/bg_cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 100%;
  height: 500px;
  width:100%;
}


.nav {

}


.nav ul {
  list-style-type:none;
  text-align: right;
}


.nav ul li{
  display: inline-block;
  margin: 1%;
}

.nav ul li a {
  text-decoration: none;
color:#fff;
font-size:24px;
font-family: sans-serif;
}

.logo {
  float: left;
}

.logo img {
  width:80px;
  height: auto;
}
